/*-----------------------------------------------------------------------------------*/
/* Variables
/*-----------------------------------------------------------------------------------*/

$left_col: 75%;
$text_color: #fff;
$primary_blue: #003366;
$colorPrimary:	#003366;


$colorContentBorders:	    #dfe6ec;  


$colorButton:			desaturate(lighten($colorPrimary, 5%), 40%); // $PalettonDunkelste;
$colorButtonBackground:		#dde5f0;
$colorButtonBackgroundHover:	darken($colorButtonBackground, 5%);

$gcsedisplaylinkcolor:		#008000;

$screen-sm:	768px;