/*-----------------------------------------------------------------------------------*/
/* Results Tabs
/*-----------------------------------------------------------------------------------*/

.results-tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;

	li {
		list-style-type: none;
		padding: 0;
		margin: 0;

		span, a {
			@include px2rem($font-size-pagination-links);
			padding: 6px 10px;
			text-align: center;
			margin-right: 4px;
			@include border-radius(3px);

			background: $colorButtonBackground;
			border: 1px solid $colorButtonBackground;
			padding: 6px 10px;
			text-decoration: none;
			color: $colorButton;

			span {
				background-color: transparent;
				padding: 0;
				margin: 0;
				border: none;
			}
		}

		.current {
			background: #fff;
			border: 1px solid $colorContentBorders;
			padding: 6px 10px;
			text-decoration: none;
			color: $colorButton;
		}
	}

	a:hover, a:focus {
		background: $colorButtonBackgroundHover;
		text-decoration: underline;
		span {
			text-decoration: underline;
		}
	}
}
