/*-----------------------------------------------------------------------------------*/
/* Overlay
/*-----------------------------------------------------------------------------------*/

.search-static-links {
	margin-top: 1em;
	border-top: 1px solid #c5c9ce;
	padding-top: 1em;

	ul {
		margin: 0;
		padding: 0;
	}

	li {
		display: table;
		list-style-type: none;

		&::before {
			font: normal normal normal 14px/1 FontAwesome;
			content: "\f105";
			display: table-cell;
			width: 20px;
		}
	}

	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
	p {
	    @include px2rem($font-size-meta);
	}
}

.search-settings {
    label a {
	&::after {
	    font: normal normal normal 14px/1 FontAwesome;
	    content: "\f06a";
	    margin-left: 2px;
	    font-size: 0.8rem;
	}
    }
}

@media (min-width: 768px) {
	.search-static-links {
		margin-top: 0;
		border-top: none;
		padding-top: 0;
	}

	.search-static-links-columns {
		display: flex;
	}

	.search-static-links-column {
		padding-right: 20px;

		.search-static-links-columns[data-columns="2"] & {
			flex-basis: 50%;
			width: 50%;
		}

		.search-static-links-columns[data-columns="3"] & {
			flex-basis: calc(100% / 3);
			width: calc(100% / 3);
		}
	}
}