

@import "variables";
@import "mixins";

[hidden] {
	display: none;
}

#search-backdrop {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 51, 102, .7);
	z-index: 50;

	.search-toggled & {
		display: block;
	}
}

.searchform {
	display: block;
	padding: 0;
	margin: 0;
	background: transparent;
	position: static;
	// width: 100%;
	height: auto;
	text-align: left; /* Remove as soon as possible */
}

form[role=search] {
	border: none;
	padding: 0;
	width: 100%;

	header {
		display: flex;
		align-items: center;
		transition: width .2s;
	}
}



.search-panel {
	padding: 1em 0;
	
	&.no-links {
	    flex-direction: initial;
	    padding: 8px 0 5px 0;
	}
}

.meta-search .searchform .search-settings {
	&, & * {
		@include px2rem($font-size-meta);
	}

	label {
		position: static;
		display: block;
		padding: 0;
		margin: 0;
		height: auto;
		width: 100%;
		overflow: initial;
		min-width: 0;
		display: table;

		> * {
			display: table-cell;


			&:last-child {
				width: 100%;
			}
		}

		+ label {
			margin-top: .5em;
		}
		
		
	}
}

.meta-search .searchform  .search-panel.no-links .search-settings  {
    border-left: none;
    
    label {
		    display: table-cell;
		    width: auto;
		    padding-right: 15px;
    }
}

.search-toggled {
    .search-terms {
		    flex-basis: 100%;
    }
}

@media (min-width: 768px) {
	.search-toggled {
		.meta-links {
			display: none;
		}
		
		.meta-tools {
			width: 100%;
		}
		.searchform {
		   width: 100%
		}
		
	}
	.search-toggled.active-meta-widget {
	    .meta-tools {
		width: 100%;
	    }
	    .searchform {
		width: 80%;
	    }
	}
	
	
	
	.search-panel {
		padding: 2em 0;
		display: flex;
		flex-direction: row-reverse;
	}

	.search-settings {
		width: calc(100% / 3);
		border-left: 1px solid #c5c9ce;
		padding-left: 1em;
	}
	.no-links .search-settings {
	    width: 100%;
	}
	.search-static-links {
		width: calc(200% / 3);

		.hero-navigation .quicklinks {
			width: 50%;
		}
	}
}

label.resource_table_label {
	display: block;
	width: 100%;
	white-space: nowrap;

	span {
		display: block;
	}
}

// Links in Overlay
@import "static-links";

// Tabs on tob of results
@import "result-tabs";

// Styles for Results of GCSE
@import "result-gcse-entries";